pid file = /var/run/rsyncd.pid
lock file = /var/run/rsync.lock
log file = /var/log/rsync.log

[plex]
comment = Plex Data
path = /var/lib/plexmediaserver/Library/Application Support/Plex Media Server
read only = true
uid = plex
guid = plex
